@import "tailwindcss";

@theme {
  --breakpoint-md: 769px;
  --breakpoint-lg: 1025px;
}

.swiper-slide {
  width: auto !important;
}

@media (min-width: 1024px) {
  .swiper-slide {
    width: initial !important;
  }
}
